@import '../../stylesheet.scss';

.Card {
    max-width: 90vw;
    height: 5em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    font-family: $font-family;
    color: $font-color;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0.3em;
    overflow: hidden;
    .SerialNo {
        font-size: 2.5em;
        font-weight: 500;
        width: 20%;
    }
    .Title {
        font-weight: 500;
        text-align: start;
        width: 50%;
        height: 100%;
        font-size: 2em;
        overflow: auto;
        line-height: 100%;
        display: flex;
        padding-left: 0.5em;
        align-items: center;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .Details {
        width: 30%;
        text-align: end;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        .Date {
            width: 100%;
            font-size: 1em;
        }
        .Description {
            font-weight: bold;
            font-size: 1.5em;
            line-height: 100%;
        }
    }
  
}