@import '../../stylesheet.scss';

.Button {
    border: none;
    font-size: 1em;
    font-weight: bold;
    font-family: $font-family;
    background-color: $primary-blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: auto;
    height: 2.7em;
    .Icon {
        padding-left: 0.5em;
        vertical-align: middle;
    }
    &:hover {
        cursor: pointer;
    }
}