@import '../../stylesheet.scss';

.Header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    background-color: white;
    .Logo {
        padding-left: 2em;
        flex-wrap: nowrap;
        .Img {
            width: 11em;
            height: 1.4em;
        }
        .Text {
            font-size: 1.2em;
            color: $font-color;
            font-family: $font-family;
            position: relative;
            left: -0.65em;
        }
    }

    .Button {
        border-top-left-radius: 1.35em;
        border-bottom-left-radius: 1.35em;
    }

}